* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.App {
  background-color: #1e1f26;
  min-height: 100vh;
  width: 100%;
}

.cover {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.199);
}

header {
  background-color: rgb(15, 15, 15);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: sticky;
  top: 0;
  z-index: 9998;
}
header .logo {
  width: 20%;
  color: #fff;
}
header .logo img {
  width: 65px;
  height: 35px;
}
header ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}
header ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: 0.3s;
}
header ul li a:hover {
  color: #d3d0d0;
}

#first {
  position: relative;
}
#first #mainBlock {
  width: 100%;
  position: relative;
  box-shadow: 0 0 30px rgb(78, 78, 78);
}
#first #mainBlock img {
  width: 100%;
  height: 100%;
  z-index: 1;
}
#first #mainBlock #mainTxt {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.9176470588);
  box-shadow: 0 0 20px rgb(185, 185, 185);
  border-radius: 20px;
  transform: translateY(-50%);
  top: 50%;
  left: 50px;
  padding: 50px 30px;
  width: 30%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}
#first #mainBlock #mainTxt:hover {
  box-shadow: none;
}
#first #mainBlock #mainTxt > div {
  height: 3px;
  background-color: rgb(68, 68, 68);
  margin: 10px 0;
  width: 40%;
}

#about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.37);
  padding: 40px 0;
}
#about img {
  width: 35%;
  height: 75%;
  border-radius: 20px;
}
#about > div {
  width: 35%;
  margin-left: 40px;
}
#about > div #line {
  margin: 18px 0;
  height: 4px;
  background-color: #fff;
  width: 25%;
}

#galery {
  margin-top: 40px;
  padding: 10px 80px;
}
#galery h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
#galery #lineInGalery {
  height: 4px;
  background-color: #fff;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}
#galery .galeryDiv {
  width: 100%;
  height: 700px;
  cursor: pointer;
}
#galery .galeryDiv img {
  width: 100%;
  height: 100%;
}

#backDivImg {
  margin: 80px 0;
  background-image: url("./photos/main.png");
  height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
#backDivImg > div {
  background-color: rgba(255, 255, 255, 0.8431372549);
  padding: 35px 40px;
  text-align: center;
  border-radius: 13px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
#backDivImg > div #lineinBackDiv {
  height: 3px;
  width: 40%;
  background-color: #000;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

#servicesDiv {
  margin-top: 40px;
  padding: 10px;
}
#servicesDiv h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
#servicesDiv #lineInServices {
  height: 4px;
  background-color: #fff;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}
#servicesDiv #services {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  margin: 40px 0;
  margin-bottom: 80px;
}
#servicesDiv #services > div {
  box-shadow: 0 0 20px #3a3a3a;
  color: #fff;
  width: 24%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  padding: 10px;
}
#servicesDiv #services > div:hover {
  box-shadow: none;
  cursor: pointer;
}
#servicesDiv #services > div img {
  width: 100%;
  border-radius: 10px;
}
#servicesDiv #services > div h3 {
  margin: 10px 0;
}

#reviewsDiv {
  margin-top: 40px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.37);
}
#reviewsDiv h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
#reviewsDiv #lineInReviews {
  height: 4px;
  background-color: #fff;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}
#reviewsDiv #reviews {
  margin: 40px 0;
  margin-bottom: 80px;
}
#reviewsDiv #reviews .reviewDiv {
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 450px;
  background-color: white;
  border-radius: 15px;
  border-top: 3px solid rgb(255, 202, 122);
  cursor: pointer;
}
#reviewsDiv #reviews .reviewDiv P {
  text-align: center;
}
#reviewsDiv #reviews .reviewDiv img {
  width: 90%;
}

#team {
  margin-top: 40px;
  padding: 10px;
}
#team h1 {
  text-align: center;
  margin: 20px 0;
  color: #fff;
}
#team #lineInTeam {
  height: 4px;
  background-color: #fff;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}
#team .teamwDiv {
  margin: auto;
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(202, 202, 202, 0.2039215686);
  padding: 20px;
  min-height: 500px;
  border-radius: 20px;
  color: #fff;
}
#team .teamwDiv img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

#partners {
  margin-top: 40px;
  padding: 20px;
  background-color: rgb(255, 255, 255);
}
#partners h1 {
  text-align: center;
  margin-bottom: 20px;
}
#partners #lineInpartners {
  height: 4px;
  background-color: #000;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}
#partners .partnerDiv {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
#partners .partnerDiv img {
  width: 50%;
}

#map {
  margin-top: 40px;
  padding: 20px;
}
#map iframe {
  width: 100%;
  height: 600px;
}
#map h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}
#map #lineInMap {
  height: 4px;
  background-color: #fff;
  width: 10%;
  margin: auto;
  margin-bottom: 20px;
}

footer {
  margin-top: 20px;
  background-color: #141414;
  padding: 20px 40px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .ffooter p {
  margin-top: 10px;
  font-size: 12px;
}
footer .sfooter {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: space-around;
}
footer .sfooter ul {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
footer .sfooter ul li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
footer .sfooter ul li a:hover {
  color: #c7c6c6;
}

#contact {
  height: 70px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  background-color: green;
  transition: 0.3s;
  cursor: pointer;
}
#contact:hover {
  background-color: rgb(0, 54, 0);
}
#contact a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

#hamMenu {
  display: none;
}

#mobileMenu {
  position: fixed;
  top: 70px;
  left: 0;
  width: 100%;
  height: 92vh;
  background-color: rgb(0, 0, 0);
  z-index: 9999;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mobileMenu li {
  margin: 15px 0;
  width: 60%;
  text-align: center;
}
#mobileMenu li a {
  display: block;
  padding: 15px;
  color: white;
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.5s;
  background-color: transparent;
}
#mobileMenu li a:hover {
  background-color: rgba(167, 167, 167, 0.199);
}

@media screen and (max-width: 900px) {
  #hamMenu {
    display: flex;
    width: 15%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
  }
  header {
    padding: 0;
  }
  header .logo {
    margin-left: 25px;
  }
  header ul {
    display: none;
  }
  #first #mainBlock #mainTxt {
    width: 50%;
  }
  #about {
    flex-direction: column;
  }
  #about img {
    width: 80%;
    margin-bottom: 30px;
  }
  #about > div {
    width: 80%;
    margin-left: 0;
  }
  #galery {
    padding: 10px 50px;
  }
  #galery .galeryDiv {
    height: 400px;
  }
  #backDivImg > div {
    width: 45%;
  }
  #servicesDiv {
    margin-top: 40px;
    padding: 10px;
  }
  #servicesDiv #services {
    flex-direction: column;
    margin: 40px 0;
  }
  #servicesDiv #services > div {
    width: 70%;
    margin-top: 30px;
  }
  #team .teamwDiv {
    width: 65%;
  }
  #partners {
    padding: 8px 3px;
  }
  #partners .partnerDiv img {
    width: 65%;
  }
  footer {
    align-items: flex-start;
    flex-direction: column;
  }
  footer .ffooter p {
    margin-top: 10px;
    font-size: 12px;
  }
  footer .sfooter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
  }
  footer .sfooter ul {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .sfooter ul li {
    margin: 10px 0;
  }
  footer .sfooter ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  footer .sfooter ul li a:hover {
    color: #c7c6c6;
  }
}
@media screen and (max-width: 660px) {
  #reviewsDiv #reviews .reviewDiv {
    width: 90%;
    padding: 5px;
  }
  #first #mainBlock {
    height: 250px;
  }
  #first #mainBlock #mainTxt {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 20px;
    padding: 20px 10px;
  }
  #first #mainBlock #mainTxt h1 {
    font-size: 18px;
  }
  #first #mainBlock #mainTxt p {
    font-size: 14px;
  }
  #about {
    flex-direction: column;
  }
  #about img {
    width: 80%;
    margin-bottom: 30px;
  }
  #about > div {
    width: 80%;
    margin-left: 0;
  }
  #galery {
    padding: 10px;
  }
  #galery .galeryDiv {
    height: 300px;
  }
  #backDivImg {
    height: 400px;
    background-position: center top;
  }
  #backDivImg > div {
    padding: 10px;
    width: 60%;
  }
  #backDivImg > div h2 {
    font-size: 16px;
  }
  #backDivImg > div p {
    font-size: 14px;
  }
  #servicesDiv {
    margin-top: 40px;
    padding: 10px;
  }
  #servicesDiv #services {
    flex-direction: column;
    margin: 40px 0;
  }
  #servicesDiv #services > div {
    width: 90%;
    margin-top: 30px;
  }
  #map {
    padding: 10px;
  }
  #map iframe {
    width: 100%;
    height: 400px;
  }
  #map #lineInMap {
    height: 4px;
    background-color: #fff;
    width: 10%;
    margin: auto;
    margin-bottom: 20px;
  }
  #team .teamwDiv {
    width: 90%;
  }
  #partners {
    padding: 8px 3px;
  }
  #partners .partnerDiv img {
    width: 65%;
  }
  footer {
    align-items: flex-start;
    flex-direction: column;
  }
  footer .ffooter p {
    margin-top: 10px;
    font-size: 12px;
  }
  footer .sfooter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-around;
  }
  footer .sfooter ul {
    width: 50%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  footer .sfooter ul li {
    margin: 10px 0;
  }
  footer .sfooter ul li a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  footer .sfooter ul li a:hover {
    color: #c7c6c6;
  }
}/*# sourceMappingURL=App.css.map */